doctype html
html
  head
    title knowledgebase
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
  body
    .container
        ul.nav.navbar-nav
          li
            a(href='/') Home
          li
            a(href='/article/add') Add Article
    .container
      block content
      br
      hr
      footer
        p Copyright &copy; 2017
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')